# Node.js
/node_modules/
backend/node_modules/
backend/.env
backend/.env.local

# Front
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development

# Python 
notifier/__pycache__/
notifier/.venv/
notifier/.env
notifier/*.pyc

# Docker
*.log
*.pid
*.sock
docker-compose.override.yml

# General
.env
.env.local
.env.development
.DS_Store

# IDEs / editores
.vscode/
.idea/
